.App {
  text-align: center;
  background-color: #1b1b32;
  height: 100vh;
  font-size: 3vmax;
  font-family: Lato, Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
  height: 25%;
}

.logo-imagen {
  object-fit: contain;
  width: 50vmin;
}

.cuerpo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 20vmax;
  height: 30vmax;
  background-color: rgb(170, 168, 176);
}

.fila {
  height: 16.66%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid .1vmax;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}